@{
    ViewData["Title"] = "Início";
}

<div class="row">
    <div class="col-md-3">
        <h2>Criar Ordem de Serviço</h2>
        
        <button type="button" class="btn btn-outline-primary">
            Criar
        </button>
    </div>
    <div class="col-md-3">
        <h2>Finalizar Ordem de Serviço</h2>
        <button type="button" class="btn btn-outline-primary">Criar</button>
    </div>
    <div class="col-md-3">
        <h2>Criar Usuário</h2>
        <button type="button" class="btn btn-outline-primary">
            @Html.ActionLink("Criar", "Usuario", "Home")
        </button>
    </div>
    <div class="col-md-3">
        <h2>Registrar Movimentação</h2>
        <button type="button" class="btn btn-outline-primary">
            @Html.ActionLink("Criar", "TelaDeCadastroMovimentacao", "Home")
        </button>
        
    </div>
</div>
