@{
    ViewData["Title"] = "Termos e políticas";
}
<h2>@ViewData["Title"]</h2>

<p>
    Ao utilizar ou aceder a sites do Indeed (“Site”), concorda com a utilização de cookies pelo Indeed conforme descrito abaixo. Todas as referências a candidatos e empresas estão definidas na Introdução aos Termos de serviço do Indeed.

    Para efeitos da presente Política de Cookies, “Indeed” ou “nós” significam Indeed, Inc. se for um candidato ou uma empresa situada nos Estados Unidos, Indeed Brasil Pesquisa de Empregos ltda. se for uma empresa situada no Brasil, Indeed India Operations (Pte.) Ltd. se for uma empresa situada na Índia, Indeed Singapore Operations (Pte.) Ltd. se for uma empresa situada na região Ásia-Pacífico, Indeed Ireland Operations Limited se for um candidato ou uma empresa situada em qualquer outro lugar e Indeed Hire, Inc. se estiver a receber serviços de contratação Indeed.

    A presente Política de Cookies ajuda a explicar quando e por que motivo podemos enviar cookies aos visitantes do site (denominados na presente política como “nós” ou “nosso”). “Cookies” são ficheiros de texto que um site transfere para o disco rígido de uma pessoa ou outro equipamento de navegação em sites para efeitos de manutenção de registos. Os cookies permitem ao site recordar informações importantes que irão tornar a sua utilização do site mais conveniente. Um cookie contém geralmente o nome do domínio de origem, a “duração” e um número exclusivo gerado aleatoriamente ou outro valor. Alguns cookies serão utilizados no site, independentemente de ter ou não iniciado a sua sessão.

    Os cookies de sessão são temporários, permanecendo no ficheiro de cookies do seu navegador até abandonar o site.

    Os cookies persistentes permanecem no ficheiro de cookies do seu navegador durante muito mais tempo (embora o tempo exato dependa da duração do cookie específico utilizado). Quando utilizamos cookies de sessão para controlar o número total de visitantes no nosso site, isso é feito de forma agregada e anónima (já que os cookies não contêm, em si mesmos, quaisquer dados pessoais). Também podemos utilizar cookies para recordar o seu computador quando o utilizar para voltar ao site para ajudar a personalizar a sua experiência Web no Indeed. Nestes casos, podemos associar informações pessoais a um ficheiro de cookies..
</p>
